<form [formGroup]="dataService.initFormGroup">
  <mat-form-field>
    <mat-label>Number of alternatives</mat-label>
    <input
      matInput
      placeholder="for example: 4"
      formControlName="numberAlternatives"
      type="number"
      required
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Number of criteria</mat-label>
    <input
      matInput
      placeholder="for example: 8"
      formControlName="numberCriteria"
      type="number"
      required
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Number of Experts</mat-label>
    <input
      matInput
      placeholder="for example: 5"
      formControlName="numberExperts"
      type="number"
      required
    />
  </mat-form-field>
</form>

<div class="bottom-btn">
  <button mat-stroked-button (click)="dataService.setInitRandom()">
    Set random value
  </button>
  <button
    mat-stroked-button
    matStepperNext
    (click)="dataService.setImportanceCriteria()"
  >
    Set importance of criteria
  </button>
</div>